# Moneyball Project: Using R to Recruit Under-Valued Players

**Objective**<br>
The goal of this project is to analyze baseball statistics and salaries to find best-playing but under-valued players to replace the 3 key players the Oakland A's lost in 2001.

**Data**<br>
We'll be using data from Sean Lahaman's Website a very useful source for baseball statistics. The documentation for the csv files is located in the readme2013.txt file. You may need to reference this to understand what acronyms stand for.

**Use R to open the Batting.csv file and assign it to a dataframe called batting using read.csv**

In [1]:
batting <- read.csv('Batting.csv')
head(batting)

   playerID yearID stint teamID lgID  G G_batting AB R H ⋯ SB CS BB SO IBB HBP
1 aardsda01   2004     1    SFN   NL 11        11  0 0 0 ⋯  0  0  0  0   0   0
2 aardsda01   2006     1    CHN   NL 45        43  2 0 0 ⋯  0  0  0  0   0   0
3 aardsda01   2007     1    CHA   AL 25         2  0 0 0 ⋯  0  0  0  0   0   0
4 aardsda01   2008     1    BOS   AL 47         5  1 0 0 ⋯  0  0  0  1   0   0
5 aardsda01   2009     1    SEA   AL 73         3  0 0 0 ⋯  0  0  0  0   0   0
6 aardsda01   2010     1    SEA   AL 53         4  0 0 0 ⋯  0  0  0  0   0   0
  SH SF GIDP G_old
1  0  0    0    11
2  1  0    0    45
3  0  0    0     2
4  0  0    0     5
5  0  0    0    NA
6  0  0    0    NA

**Use str() to check the structure. Pay close attention to how columns that start with a number get an 'X' in front of them! You'll need to know this to call those columns!**

In [4]:
str(batting)

'data.frame':	97889 obs. of  24 variables:
 $ playerID : Factor w/ 18107 levels "aardsda01","aaronha01",..: 1 1 1 1 1 1 1 2 2 2 ...
 $ yearID   : int  2004 2006 2007 2008 2009 2010 2012 1954 1955 1956 ...
 $ stint    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ teamID   : Factor w/ 149 levels "ALT","ANA","ARI",..: 117 35 33 16 116 116 93 80 80 80 ...
 $ lgID     : Factor w/ 6 levels "AA","AL","FL",..: 4 4 2 2 2 2 2 4 4 4 ...
 $ G        : int  11 45 25 47 73 53 1 122 153 153 ...
 $ G_batting: int  11 43 2 5 3 4 NA 122 153 153 ...
 $ AB       : int  0 2 0 1 0 0 NA 468 602 609 ...
 $ R        : int  0 0 0 0 0 0 NA 58 105 106 ...
 $ H        : int  0 0 0 0 0 0 NA 131 189 200 ...
 $ X2B      : int  0 0 0 0 0 0 NA 27 37 34 ...
 $ X3B      : int  0 0 0 0 0 0 NA 6 9 14 ...
 $ HR       : int  0 0 0 0 0 0 NA 13 27 26 ...
 $ RBI      : int  0 0 0 0 0 0 NA 69 106 92 ...
 $ SB       : int  0 0 0 0 0 0 NA 2 3 2 ...
 $ CS       : int  0 0 0 0 0 0 NA 2 1 4 ...
 $ BB       : int  0 0 0 0 0 0 NA 28 49 37 ...
 $ SO       : int  0 0 0 1 0 0 NA 39 61 54 ...
 $ IBB      : int  0 0 0 0 0 0 NA NA 5 6 ...
 $ HBP      : int  0 0 0 0 0 0 NA 3 3 2 ...
 $ SH       : int  0 1 0 0 0 0 NA 6 7 5 ...
 $ SF       : int  0 0 0 0 0 0 NA 4 4 7 ...
 $ GIDP     : int  0 0 0 0 0 0 NA 13 20 21 ...
 $ G_old    : int  11 45 2 5 NA NA NA 122 153 153 ...

In [5]:
#Call the head() of the first five rows of AB (At Bats) column
head(batting$AB)

[1] 0 2 0 1 0 0

In [6]:
#Call the head of the doubles (X2B) column
head(batting$X2B)

[1] 0 0 0 0 0 0

**Feature Engineering**<br>
We need to create a new column for Batting Average, which is equal to Hits (H) divided by At Base (AB). A new column **BA** will be added to represent the Batting Average:

In [2]:
batting$BA <- batting$H/batting$AB

In [9]:
#Check last 5 entries in this new BA column:
tail(batting$BA,5)

[1] 0.1230769 0.2746479 0.1470588 0.2745098 0.2138728

**Next, creating columns for On Base Percentage (OBP) and Slugging Percentage (SLG). SLG requires 1B (Singles), which can be calculated by: <br><br>**
1B = Total Hits(H)-Doubles(2B)-Triples(3B)-Home Runs(HR)

In [3]:
#On Base Percentage (OBP):
batting$OBP <- (batting$H + batting$BB + batting$HBP)/(batting$AB + batting$BB + batting$HBP + batting$SF)

In [4]:
#Slugging Percentage (SLG):
#First creating column for Singles (X1B):
batting$X1B <- batting$H - batting$X2B - batting$X3B - batting$HR

#Calculating Slugging Average:
batting$SLG <- ((1 * batting$X1B) + (2 * batting$X2B) + (3 * batting$X3B) + (4 * batting$HR) ) / batting$AB

In [5]:
#Check data frame:
str(batting)

'data.frame':	97889 obs. of  28 variables:
 $ playerID : Factor w/ 18107 levels "aardsda01","aaronha01",..: 1 1 1 1 1 1 1 2 2 2 ...
 $ yearID   : int  2004 2006 2007 2008 2009 2010 2012 1954 1955 1956 ...
 $ stint    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ teamID   : Factor w/ 149 levels "ALT","ANA","ARI",..: 117 35 33 16 116 116 93 80 80 80 ...
 $ lgID     : Factor w/ 6 levels "AA","AL","FL",..: 4 4 2 2 2 2 2 4 4 4 ...
 $ G        : int  11 45 25 47 73 53 1 122 153 153 ...
 $ G_batting: int  11 43 2 5 3 4 NA 122 153 153 ...
 $ AB       : int  0 2 0 1 0 0 NA 468 602 609 ...
 $ R        : int  0 0 0 0 0 0 NA 58 105 106 ...
 $ H        : int  0 0 0 0 0 0 NA 131 189 200 ...
 $ X2B      : int  0 0 0 0 0 0 NA 27 37 34 ...
 $ X3B      : int  0 0 0 0 0 0 NA 6 9 14 ...
 $ HR       : int  0 0 0 0 0 0 NA 13 27 26 ...
 $ RBI      : int  0 0 0 0 0 0 NA 69 106 92 ...
 $ SB       : int  0 0 0 0 0 0 NA 2 3 2 ...
 $ CS       : int  0 0 0 0 0 0 NA 2 1 4 ...
 $ BB       : int  0 0 0 0 0 0 NA 28 49 37 ...
 $ SO       : int  0 0 0 1 0 0 NA 39 61 54 ...
 $ IBB      : int  0 0 0 0 0 0 NA NA 5 6 ...
 $ HBP      : int  0 0 0 0 0 0 NA 3 3 2 ...
 $ SH       : int  0 1 0 0 0 0 NA 6 7 5 ...
 $ SF       : int  0 0 0 0 0 0 NA 4 4 7 ...
 $ GIDP     : int  0 0 0 0 0 0 NA 13 20 21 ...
 $ G_old    : int  11 45 2 5 NA NA NA 122 153 153 ...
 $ BA       : num  NaN 0 NaN 0 NaN ...
 $ OBP      : num  NaN 0 NaN 0 NaN ...
 $ X1B      : int  0 0 0 0 0 0 NA 85 116 126 ...
 $ SLG      : num  NaN 0 NaN 0 NaN ...

## Merging Salary Data with Batting Data
Now that we have the data frame ready to find the best players, we want to be able to find the best players that are the most *undervalued*. <br><br>
The salary information can be found in the csv file 'Salaries.csv'

**Load Salaries.csv file into data frame**

In [7]:
sal <- read.csv('Salaries.csv')
head(sal)

  yearID teamID lgID  playerID  salary
1   1985    BAL   AL murraed02 1472819
2   1985    BAL   AL  lynnfr01 1090000
3   1985    BAL   AL ripkeca01  800000
4   1985    BAL   AL  lacyle01  725000
5   1985    BAL   AL flanami01  641667
6   1985    BAL   AL boddimi01  625000

**Comparing our batting data frame with the salaries one, the batting data frame goes back to 1871 while the salaries start in 1985. Subset the data:**

In [8]:
summary(batting)

      playerID         yearID         stint           teamID        lgID
 mcguide01:   31   Min.   :1871   Min.   :1.000   CHN    : 4720   AA  : 1890
 henderi01:   29   1st Qu.:1931   1st Qu.:1.000   PHI    : 4621   AL  :44369
 newsobo01:   29   Median :1970   Median :1.000   PIT    : 4575   FL  :  470
 johnto01 :   28   Mean   :1962   Mean   :1.077   SLN    : 4535   NL  :49944
 kaatji01 :   28   3rd Qu.:1995   3rd Qu.:1.000   CIN    : 4393   PL  :  147
 ansonca01:   27   Max.   :2013   Max.   :5.000   CLE    : 4318   UA  :  332
 (Other)  :97717                                  (Other):70727   NA's:  737
       G            G_batting            AB              R
 Min.   :  1.00   Min.   :  0.00   Min.   :  0.0   Min.   :  0.00
 1st Qu.: 13.00   1st Qu.:  7.00   1st Qu.:  9.0   1st Qu.:  0.00
 Median : 35.00   Median : 32.00   Median : 61.0   Median :  5.00
 Mean   : 51.65   Mean   : 49.13   Mean   :154.1   Mean   : 20.47
 3rd Qu.: 81.00   3rd Qu.: 81.00   3rd Qu.:260.0   3rd Qu.: 31.00
 Max.   :165.00   Max.   :165.00   Max.   :716.0   Max.   :192.00
                  NA's   :1406     NA's   :6413    NA's   :6413
       H               X2B            X3B               HR
 Min.   :  0.00   Min.   : 0.0   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  1.00   1st Qu.: 0.0   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 12.00   Median : 2.0   Median : 0.000   Median : 0.000
 Mean   : 40.37   Mean   : 6.8   Mean   : 1.424   Mean   : 3.002
 3rd Qu.: 66.00   3rd Qu.:10.0   3rd Qu.: 2.000   3rd Qu.: 3.000
 Max.   :262.00   Max.   :67.0   Max.   :36.000   Max.   :73.000
 NA's   :6413     NA's   :6413   NA's   :6413     NA's   :6413
      RBI               SB                CS               BB
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.000   Min.   :  0.00
 1st Qu.:  0.00   1st Qu.:  0.000   1st Qu.: 0.000   1st Qu.:  0.00
 Median :  5.00   Median :  0.000   Median : 0.000   Median :  4.00
 Mean   : 18.47   Mean   :  3.265   Mean   : 1.385   Mean   : 14.21
 3rd Qu.: 28.00   3rd Qu.:  2.000   3rd Qu.: 1.000   3rd Qu.: 21.00
 Max.   :191.00   Max.   :138.000   Max.   :42.000   Max.   :232.00
 NA's   :6837     NA's   :7713      NA's   :29867    NA's   :6413
       SO              IBB              HBP               SH
 Min.   :  0.00   Min.   :  0.00   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  2.00   1st Qu.:  0.00   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 11.00   Median :  0.00   Median : 0.000   Median : 1.000
 Mean   : 21.95   Mean   :  1.28   Mean   : 1.136   Mean   : 2.564
 3rd Qu.: 31.00   3rd Qu.:  1.00   3rd Qu.: 1.000   3rd Qu.: 3.000
 Max.   :223.00   Max.   :120.00   Max.   :51.000   Max.   :67.000
 NA's   :14251    NA's   :42977    NA's   :9233     NA's   :12751
       SF             GIDP           G_old              BA
 Min.   : 0.0    Min.   : 0.00   Min.   :  0.00   Min.   :0.000
 1st Qu.: 0.0    1st Qu.: 0.00   1st Qu.: 11.00   1st Qu.:0.148
 Median : 0.0    Median : 1.00   Median : 34.00   Median :0.231
 Mean   : 1.2    Mean   : 3.33   Mean   : 50.99   Mean   :0.209
 3rd Qu.: 2.0    3rd Qu.: 5.00   3rd Qu.: 82.00   3rd Qu.:0.275
 Max.   :19.0    Max.   :36.00   Max.   :165.00   Max.   :1.000
 NA's   :42446   NA's   :32521   NA's   :5189     NA's   :13520
      OBP             X1B              SLG
 Min.   :0.00    Min.   :  0.00   Min.   :0.000
 1st Qu.:0.19    1st Qu.:  1.00   1st Qu.:0.179
 Median :0.29    Median :  9.00   Median :0.309
 Mean   :0.26    Mean   : 29.14   Mean   :0.291
 3rd Qu.:0.34    3rd Qu.: 48.00   3rd Qu.:0.397
 Max.   :1.00    Max.   :225.00   Max.   :4.000
 NA's   :49115   NA's   :6413     NA's   :13520

In [9]:
#Subset batting data to start from 1875 to match with salaries
batting <- subset(batting,yearID >=1985)

In [10]:
#Check that yearID min is now 1985
summary(batting)

      playerID         yearID         stint          teamID      lgID
 moyerja01:   27   Min.   :1985   Min.   :1.00   SDN    : 1313   AA:    0
 mulhote01:   26   1st Qu.:1993   1st Qu.:1.00   CLE    : 1306   AL:17226
 weathda01:   26   Median :2000   Median :1.00   PIT    : 1299   FL:    0
 maddugr01:   25   Mean   :2000   Mean   :1.08   NYN    : 1297   NL:18426
 sierrru01:   25   3rd Qu.:2007   3rd Qu.:1.00   BOS    : 1279   PL:    0
 thomeji01:   25   Max.   :2013   Max.   :4.00   CIN    : 1279   UA:    0
 (Other)  :35498                                 (Other):27879
       G           G_batting            AB              R
 Min.   :  1.0   Min.   :  0.00   Min.   :  0.0   Min.   :  0.00
 1st Qu.: 14.0   1st Qu.:  4.00   1st Qu.:  3.0   1st Qu.:  0.00
 Median : 34.0   Median : 27.00   Median : 47.0   Median :  4.00
 Mean   : 51.7   Mean   : 46.28   Mean   :144.7   Mean   : 19.44
 3rd Qu.: 77.0   3rd Qu.: 77.00   3rd Qu.:241.0   3rd Qu.: 30.00
 Max.   :163.0   Max.   :163.00   Max.   :716.0   Max.   :152.00
                 NA's   :1406     NA's   :4377    NA's   :4377
       H               X2B              X3B               HR
 Min.   :  0.00   Min.   : 0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  0.00   1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median :  8.00   Median : 1.000   Median : 0.000   Median : 0.000
 Mean   : 37.95   Mean   : 7.293   Mean   : 0.824   Mean   : 4.169
 3rd Qu.: 61.00   3rd Qu.:11.000   3rd Qu.: 1.000   3rd Qu.: 5.000
 Max.   :262.00   Max.   :59.000   Max.   :23.000   Max.   :73.000
 NA's   :4377     NA's   :4377     NA's   :4377     NA's   :4377
      RBI               SB                CS               BB
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.000   Min.   :  0.00
 1st Qu.:  0.00   1st Qu.:  0.000   1st Qu.: 0.000   1st Qu.:  0.00
 Median :  3.00   Median :  0.000   Median : 0.000   Median :  3.00
 Mean   : 18.41   Mean   :  2.811   Mean   : 1.219   Mean   : 14.06
 3rd Qu.: 27.00   3rd Qu.:  2.000   3rd Qu.: 1.000   3rd Qu.: 21.00
 Max.   :165.00   Max.   :110.000   Max.   :29.000   Max.   :232.00
 NA's   :4377     NA's   :4377      NA's   :4377     NA's   :4377
       SO              IBB               HBP               SH
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  1.00   1st Qu.:  0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 12.00   Median :  0.000   Median : 0.000   Median : 0.000
 Mean   : 27.03   Mean   :  1.171   Mean   : 1.273   Mean   : 1.465
 3rd Qu.: 42.00   3rd Qu.:  1.000   3rd Qu.: 1.000   3rd Qu.: 2.000
 Max.   :223.00   Max.   :120.000   Max.   :35.000   Max.   :39.000
 NA's   :4377     NA's   :4378      NA's   :4387     NA's   :4377
       SF              GIDP           G_old             BA
 Min.   : 0.000   Min.   : 0.00   Min.   :  0.0   Min.   :0.000
 1st Qu.: 0.000   1st Qu.: 0.00   1st Qu.: 11.0   1st Qu.:0.136
 Median : 0.000   Median : 1.00   Median : 32.0   Median :0.233
 Mean   : 1.212   Mean   : 3.25   Mean   : 49.7   Mean   :0.205
 3rd Qu.: 2.000   3rd Qu.: 5.00   3rd Qu.: 77.0   3rd Qu.:0.274
 Max.   :17.000   Max.   :35.00   Max.   :163.0   Max.   :1.000
 NA's   :4378     NA's   :4377    NA's   :5189    NA's   :8905
      OBP             X1B              SLG
 Min.   :0.000   Min.   :  0.00   Min.   :0.000
 1st Qu.:0.188   1st Qu.:  0.00   1st Qu.:0.167
 Median :0.296   Median :  6.00   Median :0.333
 Mean   :0.262   Mean   : 25.66   Mean   :0.304
 3rd Qu.:0.342   3rd Qu.: 42.00   3rd Qu.:0.423
 Max.   :1.000   Max.   :225.00   Max.   :4.000
 NA's   :8821    NA's   :4377     NA's   :8905

**Merge the batting and sal data frames on both players and years. Multiple players play multiple years**

In [14]:
#Create new data frame merged on both playerID and yearID:
batting.sal <- merge(batting,sal,by=c('playerID','yearID'))

In [15]:
head(batting.sal)
summary(batting.sal)

   playerID yearID stint teamID.x lgID.x  G G_batting AB  R  H ⋯ SF GIDP G_old
1 aardsda01   2004     1      SFN     NL 11        11  0  0  0 ⋯  0    0    11
2 aardsda01   2007     1      CHA     AL 25         2  0  0  0 ⋯  0    0     2
3 aardsda01   2008     1      BOS     AL 47         5  1  0  0 ⋯  0    0     5
4 aardsda01   2009     1      SEA     AL 73         3  0  0  0 ⋯  0    0    NA
5 aardsda01   2010     1      SEA     AL 53         4  0  0  0 ⋯  0    0    NA
6 aardsda01   2012     1      NYA     AL  1        NA NA NA NA ⋯ NA   NA    NA
   BA OBP X1B SLG teamID.y lgID.y  salary
1 NaN NaN   0 NaN      SFN     NL  300000
2 NaN NaN   0 NaN      CHA     AL  387500
3   0   0   0   0      BOS     AL  403250
4 NaN NaN   0 NaN      SEA     AL  419000
5 NaN NaN   0 NaN      SEA     AL 2750000
6  NA  NA  NA  NA      NYA     AL  500000

      playerID         yearID         stint          teamID.x     lgID.x
 moyerja01:   27   Min.   :1985   Min.   :1.000   LAN    :  940   AA:    0
 thomeji01:   25   1st Qu.:1993   1st Qu.:1.000   PHI    :  937   AL:12292
 weathda01:   25   Median :1999   Median :1.000   BOS    :  935   FL:    0
 vizquom01:   24   Mean   :1999   Mean   :1.098   NYA    :  928   NL:13105
 gaettga01:   23   3rd Qu.:2006   3rd Qu.:1.000   CLE    :  920   PL:    0
 griffke02:   23   Max.   :2013   Max.   :4.000   SDN    :  914   UA:    0
 (Other)  :25250                                  (Other):19823
       G            G_batting            AB              R
 Min.   :  1.00   Min.   :  0.00   Min.   :  0.0   Min.   :  0.00
 1st Qu.: 26.00   1st Qu.:  8.00   1st Qu.:  5.0   1st Qu.:  0.00
 Median : 50.00   Median : 42.00   Median : 85.0   Median :  9.00
 Mean   : 64.06   Mean   : 57.58   Mean   :182.4   Mean   : 24.71
 3rd Qu.:101.00   3rd Qu.:101.00   3rd Qu.:336.0   3rd Qu.: 43.00
 Max.   :163.00   Max.   :163.00   Max.   :716.0   Max.   :152.00
                  NA's   :906      NA's   :2661    NA's   :2661
       H               X2B              X3B               HR
 Min.   :  0.00   Min.   : 0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  1.00   1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 19.00   Median : 3.000   Median : 0.000   Median : 1.000
 Mean   : 48.18   Mean   : 9.276   Mean   : 1.033   Mean   : 5.369
 3rd Qu.: 87.25   3rd Qu.:16.000   3rd Qu.: 1.000   3rd Qu.: 7.000
 Max.   :262.00   Max.   :59.000   Max.   :23.000   Max.   :73.000
 NA's   :2661     NA's   :2661     NA's   :2661     NA's   :2661
      RBI               SB                CS              BB
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.00   Min.   :  0.00
 1st Qu.:  0.00   1st Qu.:  0.000   1st Qu.: 0.00   1st Qu.:  0.00
 Median :  8.00   Median :  0.000   Median : 0.00   Median :  6.00
 Mean   : 23.56   Mean   :  3.568   Mean   : 1.54   Mean   : 17.98
 3rd Qu.: 39.00   3rd Qu.:  3.000   3rd Qu.: 2.00   3rd Qu.: 29.00
 Max.   :165.00   Max.   :110.000   Max.   :29.00   Max.   :232.00
 NA's   :2661     NA's   :2661      NA's   :2661    NA's   :2661
       SO              IBB               HBP               SH
 Min.   :  0.00   Min.   :  0.000   Min.   : 0.000   Min.   : 0.000
 1st Qu.:  2.00   1st Qu.:  0.000   1st Qu.: 0.000   1st Qu.: 0.000
 Median : 20.00   Median :  0.000   Median : 0.000   Median : 0.000
 Mean   : 33.52   Mean   :  1.533   Mean   : 1.614   Mean   : 1.786
 3rd Qu.: 55.00   3rd Qu.:  2.000   3rd Qu.: 2.000   3rd Qu.: 2.000
 Max.   :223.00   Max.   :120.000   Max.   :35.000   Max.   :39.000
 NA's   :2661     NA's   :2662      NA's   :2670     NA's   :2661
       SF              GIDP            G_old              BA
 Min.   : 0.000   Min.   : 0.000   Min.   :  0.00   Min.   :0.000
 1st Qu.: 0.000   1st Qu.: 0.000   1st Qu.: 20.00   1st Qu.:0.160
 Median : 0.000   Median : 2.000   Median : 47.00   Median :0.242
 Mean   : 1.554   Mean   : 4.127   Mean   : 61.43   Mean   :0.212
 3rd Qu.: 2.000   3rd Qu.: 7.000   3rd Qu.:101.00   3rd Qu.:0.276
 Max.   :17.000   Max.   :35.000   Max.   :163.00   Max.   :1.000
 NA's   :2662     NA's   :2661     NA's   :3414     NA's   :5618
      OBP             X1B             SLG           teamID.y     lgID.y
 Min.   :0.000   Min.   :  0.0   Min.   :0.000   CLE    :  935   AL:12304
 1st Qu.:0.208   1st Qu.:  0.0   1st Qu.:0.200   PIT    :  932   NL:13093
 Median :0.305   Median : 13.0   Median :0.351   PHI    :  931
 Mean   :0.270   Mean   : 32.5   Mean   :0.317   SDN    :  923
 3rd Qu.:0.346   3rd Qu.: 59.0   3rd Qu.:0.432   LAN    :  921
 Max.   :1.000   Max.   :225.0   Max.   :4.000   CIN    :  912
 NA's   :5562    NA's   :2661    NA's   :5618    (Other):19843
     salary
 Min.   :       0
 1st Qu.:  255000
 Median :  550000
 Mean   : 1879256
 3rd Qu.: 2150000
 Max.   :33000000

## The Lost Boys
The Oakland A's lost 3 important players, known as the lost boys. We want to see their stats to get an idea of what we have to replace. The lost players were: first baseman 2000 AL MVP Jason Giambi (giambja01) to the New York Yankees, outfielder Johnny Damon (damonjo01) to the Boston Red Sox and infielder Rainer Gustavo "Ray" Olmedo ('saenzol01').<br><br>
**Create a new data frame called lost.boys for these 3 players.**

In [22]:
#Data frame for the lost players: giambja01, damonjo01, saenzol01:
lost.boys.id <- c('giambja01', 'damonjo01', 'saenzol01')
lost.boys <- subset(batting.sal,playerID %in% lost.boys.id)

In [20]:
lost.boys

       playerID yearID stint teamID.x lgID.x   G G_batting  AB   R   H ⋯ SF
5135  damonjo01   1995     1      KCA     AL  47        47 188  32  53 ⋯  3
5136  damonjo01   1996     1      KCA     AL 145       145 517  61 140 ⋯  5
5137  damonjo01   1997     1      KCA     AL 146       146 472  70 130 ⋯  1
5138  damonjo01   1998     1      KCA     AL 161       161 642 104 178 ⋯  3
5139  damonjo01   1999     1      KCA     AL 145       145 583 101 179 ⋯  4
5140  damonjo01   2000     1      KCA     AL 159       159 655 136 214 ⋯ 12
5141  damonjo01   2001     1      OAK     AL 155       155 644 108 165 ⋯  4
5142  damonjo01   2002     1      BOS     AL 154       154 623 118 178 ⋯  5
5143  damonjo01   2003     1      BOS     AL 145       145 608 103 166 ⋯  6
5144  damonjo01   2004     1      BOS     AL 150       150 621 123 189 ⋯  3
5145  damonjo01   2005     1      BOS     AL 148       148 624 117 197 ⋯  9
5146  damonjo01   2006     1      NYA     AL 149       149 593 115 169 ⋯  5
5147  damonjo01   2007     1      NYA     AL 141       141 533  93 144 ⋯  3
5148  damonjo01   2008     1      NYA     AL 143       143 555  95 168 ⋯  1
5149  damonjo01   2009     1      NYA     AL 143       143 550 107 155 ⋯  1
5150  damonjo01   2010     1      DET     AL 145       145 539  81 146 ⋯  1
5151  damonjo01   2011     1      TBA     AL 150       150 582  79 152 ⋯  5
7872  giambja01   1995     1      OAK     AL  54        54 176  27  45 ⋯  2
7873  giambja01   1996     1      OAK     AL 140       140 536  84 156 ⋯  5
7874  giambja01   1997     1      OAK     AL 142       142 519  66 152 ⋯  8
7875  giambja01   1998     1      OAK     AL 153       153 562  92 166 ⋯  9
7876  giambja01   1999     1      OAK     AL 158       158 575 115 181 ⋯  8
7877  giambja01   2000     1      OAK     AL 152       152 510 108 170 ⋯  8
7878  giambja01   2001     1      OAK     AL 154       154 520 109 178 ⋯  9
7879  giambja01   2002     1      NYA     AL 155       155 560 120 176 ⋯  5
7880  giambja01   2003     1      NYA     AL 156       156 535  97 134 ⋯  5
7881  giambja01   2004     1      NYA     AL  80        80 264  33  55 ⋯  3
7882  giambja01   2005     1      NYA     AL 139       139 417  74 113 ⋯  1
7883  giambja01   2006     1      NYA     AL 139       139 446  92 113 ⋯  7
7884  giambja01   2007     1      NYA     AL  83        83 254  31  60 ⋯  1
7885  giambja01   2008     1      NYA     AL 145       145 458  68 113 ⋯  9
7886  giambja01   2009     1      OAK     AL  83        83 269  39  52 ⋯  2
7887  giambja01   2009     2      COL     NL  19        19  24   4   7 ⋯  0
7888  giambja01   2010     1      COL     NL  87        87 176  17  43 ⋯  5
7889  giambja01   2011     1      COL     NL  64        64 131  20  34 ⋯  1
7890  giambja01   2012     1      COL     NL  60        NA  89   7  20 ⋯  2
7891  giambja01   2013     1      CLE     AL  71        71 186  21  34 ⋯  3
20112 saenzol01   1999     1      OAK     AL  97        97 255  41  70 ⋯  3
20113 saenzol01   2000     1      OAK     AL  76        76 214  40  67 ⋯  1
20114 saenzol01   2001     1      OAK     AL 106       106 305  33  67 ⋯  3
20115 saenzol01   2002     1      OAK     AL  68        68 156  15  43 ⋯  2
20116 saenzol01   2005     1      LAN     NL 109       109 319  39  84 ⋯  2
20117 saenzol01   2006     1      LAN     NL 103       103 179  30  53 ⋯  4
20118 saenzol01   2007     1      LAN     NL  92        92 110   9  21 ⋯  4
      GIDP G_old        BA       OBP X1B       SLG teamID.y lgID.y   salary
5135     2    47 0.2819149 0.3235294  34 0.4414894      KCA     AL   109000
5136     4   145 0.2707930 0.3129496 107 0.3675048      KCA     AL   180000
5137     3   146 0.2754237 0.3378378 102 0.3855932      KCA     AL   240000
5138     4   161 0.2772586 0.3394625 120 0.4392523      KCA     AL   460000
5139    13   145 0.3070326 0.3789954 117 0.4768439      KCA     AL  2100000
5140     7   159 0.3267176 0.3819918 146 0.4946565      KCA     AL  4000000
5141     7   155 0.2562112 0.3235294 118 0.3633540      OAK     AL  7100000
5142     4   154 0.2857143 0.3562232 119 0.4430177      BOS     AL  7250000
5143     5   145 0.2730263 0.3450292 116 0.4046053      BOS     AL  7500000
5144     8   150 0.3043478 0.3803419 128 0.4766506      BOS     AL  8000000
5145     5   148 0.3157051 0.3662791 146 0.4391026      BOS     AL  8250000
5146     4   149 0.2849916 0.3587444 105 0.4822934      NYA     AL 13000000
5147     4   141 0.2701689 0.3509934 103 0.3958724      NYA     AL 13000000
5148     5   143 0.3027027 0.3752013 119 0.4612613      NYA     AL 13000000
5149     9    NA 0.2818182 0.3653846  92 0.4890909      NYA     AL 13000000
5150     5    NA 0.2708720 0.3551555  97 0.4007421      DET     AL  8000000
5151     4   150 0.2611684 0.3255814 100 0.4175258      TBA     AL  5250000
7872     4    54 0.2556818 0.3636364  32 0.3977273      OAK     AL   109000
7873    15   140 0.2910448 0.3551089  95 0.4813433      OAK     AL   120000
7874    11   142 0.2928709 0.3622449  89 0.4951830      OAK     AL   205000
7875    16   153 0.2953737 0.3835616 111 0.4893238      OAK     AL   315000
7876    11   158 0.3147826 0.4215827 111 0.5530435      OAK     AL  2103333
7877     9   152 0.3333333 0.4759036  97 0.6470588      OAK     AL  3103333
7878    17   154 0.3423077 0.4769001  91 0.6596154      OAK     AL  4103333
7879    18   155 0.3142857 0.4354136 100 0.5982143      NYA     AL 10428571
7880     9   156 0.2504673 0.4115942  68 0.5271028      NYA     AL 11428571
7881     5    80 0.2083333 0.3416149  34 0.3787879      NYA     AL 12428571
7882     7   139 0.2709832 0.4403670  67 0.5347722      NYA     AL 13428571
7883    10   139 0.2533632 0.4127807  51 0.5582960      NYA     AL 20428571
7884     1    83 0.2362205 0.3564356  38 0.4330709      NYA     AL 23428571
7885     6   145 0.2467249 0.3734513  61 0.5021834      NYA     AL 23428571
7886     6    NA 0.1933086 0.3323171  28 0.3643123      OAK     AL  4000000
7887     0    NA 0.2916667 0.4516129   4 0.5833333      OAK     AL  4000000
7888     5    NA 0.2443182 0.3783784  28 0.3977273      COL     NL  1750000
7889     1    64 0.2595420 0.3552632  15 0.6030534      COL     NL  1000000
7890     4    NA 0.2247191 0.3716814  15 0.3033708      COL     NL  1000000
7891     8    NA 0.1827957 0.2824074  17 0.3709677      CLE     AL   750000
20112    6    97 0.2745098 0.3627119  41 0.4745098      OAK     AL   240000
20113    6    76 0.3130841 0.4008097  44 0.5140187      OAK     AL   260000
20114    9   106 0.2196721 0.2911765  36 0.3836066      OAK     AL   290000
20115    2    68 0.2756410 0.3539326  26 0.4679487      OAK     AL   800000
20116   12   109 0.2633229 0.3247863  45 0.4796238      LAN     NL   650000
20117    4   103 0.2960894 0.3627451  27 0.5642458      LAN     NL  1000000
20118    5    92 0.1909091 0.2954545  12 0.3454545      LAN     NL  1000000

**Let's further subset the data for the year 2001, the year the players were lost in offseason**

In [23]:
#Subset for 2001, the year the players were lost:
lost.boys <- subset(lost.boys,yearID == 2001)

**Reduce the lost_players data frame to the following columns: playerID,H,X2B,X3B,HR,OBP,SLG,BA,AB**

In [24]:
#Reducing columns for stats we care about:
lost.boys <- lost.boys[,c('playerID','H','X2B','X3B','HR','OBP','SLG','BA','AB')]

In [25]:
head(lost.boys)

       playerID   H X2B X3B HR       OBP       SLG        BA  AB
5141  damonjo01 165  34   4  9 0.3235294 0.3633540 0.2562112 644
7878  giambja01 178  47   2 38 0.4769001 0.6596154 0.3423077 520
20114 saenzol01  67  21   1  9 0.2911765 0.3836066 0.2196721 305

## Finding Replacement Players
The replacement players have to meet the following constraints:<br>
<ul>
<li>The total combined salary of the three players can not exceed 15 million dollars.
<li>Their combined number of At Bats (AB) needs to be equal to or greater than the lost players.
<li>Their mean OBP had to equal to or greater than the mean OBP of the lost players
</ul>

**Select for players from year 2001**

In [26]:
#Filter for all players available in 2001
library(dplyr)
players.2001 <- filter(batting.sal,yearID == 2001)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

**Cut off AB for players at sum(lost.boys$AB)/3**

In [47]:
#Get sum of AB for lost players
sum.AB.lostboys <- sum(lost.boys$AB)

[1] 1469

In [49]:
#Filter by new AB cutoff
players.2001 <- filter(players.2001,AB >= sum.AB.lostboys/3)

In [50]:
#Add some other cutoffs, i.e. remove salaries over 8 mil, low OBP:
players.2001 <- filter(players.2001,salary<8000000,OBP>0)

**Sort by OBP**

In [53]:
#Get players with top 10 OBP
candidates <- head(arrange(players.2001,desc(OBP)),10)

**Remove the lost players from the candidates list**

In [55]:
#Remove lost players from options:
candidates <- candidates[!(candidates$playerID %in% lost.boys.id),]

#Subselect for columns we care about:
candidates <- candidates[,c('playerID','OBP','AB','salary')]

In [57]:
#View top 10 candidates
candidates

    playerID       OBP  AB  salary
2  heltoto01 0.4316547 587 4950000
3  berkmla01 0.4302326 577  305000
4  gonzalu01 0.4285714 609 4833333
5  thomeji01 0.4161491 526 7875000
6  alomaro01 0.4146707 575 7750000
7  edmonji01 0.4102142 500 6333333
8  gilesbr02 0.4035608 576 7333333
9  pujolal01 0.4029630 590  200000
10 olerujo01 0.4011799 572 6700000

In [71]:
#Compare with sum values for lost players to check criteria
sprintf('OBP Mean: %f', mean(lost.boys$OBP))
sprintf('Sum of AB: %f',sum(lost.boys$AB))

[1] "OBP Mean: 0.363869"

[1] "Sum of AB: 1469.000000"

**Check if the top 3 on the candidates list meet the criteria**

In [79]:
top.3 <- candidates[2:4,]

In [80]:
#Sum of top 3's AB:
sum(top.3$AB)

[1] 1712

The sum of their AB is greater than the sum of the AB of the lost players.

In [81]:
#Mean OBP of top 3:
mean(top.3$OBP)

[1] 0.4249844

Their mean OBP is greater than the mean of the lost players' OBP. Now checking last criteria:

In [82]:
#Total salary of top 3:
sum(top.3$salary)

[1] 13013333

In [84]:
#player ids for top 3
top.3$playerID

[1] berkmla01 gonzalu01 thomeji01
18107 Levels: aardsda01 aaronha01 aaronto01 aasedo01 abadan01 ... zwilldu01

**Great! The top 3 candidates meet all the criteria. We have now identified best playing and undervalued recruits for the Oakland A's!**